<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentence Details</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/sentence_detail/sentence_detail.css') }}">
</head>
<body>
    <div class="chart-container">
        <canvas id="radarChart" width="300" height="300"></canvas>
    </div>
    
    <div class="container">
        <h1>Sentence Details</h1>
        <div id="sentenceDisplay" style="font-size: 1.5em; margin-bottom: 20px;">{{ sentence.id }}:{{ sentence.sentence }}</div>
        <p id="sentiment"><strong>文の極性:</strong> {{ sentence.writer_sentiment }}</p>
        <p id="joy"><strong>Writer Joy:</strong> {{ sentence.writer_joy }}</p>
        <p id="sadness"><strong>Writer Sadness:</strong> {{ sentence.writer_sadness }}</p>
        <p id="anticipation"><strong>Writer Anticipation:</strong> {{ sentence.writer_anticipation }}</p>
        <p id="surprise"><strong>Writer Surprise:</strong> {{ sentence.writer_surprise }}</p>
        <p id="anger"><strong>Writer Anger:</strong> {{ sentence.writer_anger }}</p>
        <p id="fear"><strong>Writer Fear:</strong> {{ sentence.writer_fear }}</p>
        <p id="disgust"><strong>Writer Disgust:</strong> {{ sentence.writer_disgust }}</p>
        <p id="trust"><strong>Writer Trust:</strong> {{ sentence.writer_trust }}</p>
        
        <a href="/">Back to list</a>
    </div>

    <script src="{{ url_for('static', filename='sentence_detail/sentence_detail.js') }}"></script>

</body>
</html>
