<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentence Details</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 20px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
        /* 追加のスタイルはここに */
    </style>
</head>
<body>
    {% include 'navbar.html' %}  <!-- 共通部分のインクルード -->

    <div class="container">
        <div class="details-container">
            <h1>Sentence Details</h1>
            <div id="sentence_id">{{ sentence.id }}</div>
            <div id="sentenceDisplay">{{ sentence.sentence }}</div>
            <div id="sentenceCount"></div>
        </div>

        <div class="chart-container">
            <canvas id="radarChart" width="300" height="300"></canvas>
            <p id="sentiment"><strong>文の極性:</strong> {{ sentence.avg_readers_sentiment }}</p>
        </div>

        <h3>アノテーション</h3>
        <div id="split_sentence"></div>

        <form method="POST" action="/input_save">
            
            <!-- 単語が追加される入力フォーム -->
            <input type="text" id="selectedWords" class="form-control" placeholder="選択した単語がここに表示されます">
            <!-- リストボックスの作成 -->
            <label for="polarity">極性:</label>
            <select id="polarity">
                <option value="">極性を選んでください</option>
                <option value="2">強いポジティブ</option>
                <option value="1">ポジティブ</option>
                <option value="0">ニュートラル</option>
                <option value="-1">ネガティブ</option>
                <option value="-2">強いネガティブ</option>
            </select>

            <label for="joy">喜び:</label>
            <select id="joy">
                <option value="0">無</option>
                <option value="1">弱</option>
                <option value="2">中</option>
                <option value="3">強</option>
            </select>

            <label for="sadness">悲しみ:</label>
            <select id="sadness">
                <option value="0">無</option>
                <option value="1">弱</option>
                <option value="2">中</option>
                <option value="3">強</option>
            </select>

            <label for="anticipation">期待:</label>
            <select id="anticipation">
                <option value="0">無</option>
                <option value="1">弱</option>
                <option value="2">中</option>
                <option value="3">強</option>
            </select>

            <label for="surprise">驚き:</label>
            <select id="surprise">
                <option value="0">無</option>
                <option value="1">弱</option>
                <option value="2">中</option>
                <option value="3">強</option>
            </select>

            <label for="anger">怒り:</label>
            <select id="anger">
                <option value="0">無</option>
                <option value="1">弱</option>
                <option value="2">中</option>
                <option value="3">強</option>
            </select>

            <label for="fear">恐れ:</label>
            <select id="fear">
                <option value="0">無</option>
                <option value="1">弱</option>
                <option value="2">中</option>
                <option value="3">強</option>
            </select>

            <label for="disgust">嫌悪:</label>
            <select id="disgust">
                <option value="0">無</option>
                <option value="1">弱</option>
                <option value="2">中</option>
                <option value="3">強</option>
            </select>

            <label for="trust">信頼:</label>
            <select id="trust">
                <option value="0">無</option>
                <option value="1">弱</option>
                <option value="2">中</option>
                <option value="3">強</option>
            </select>

            <button type="submit">保存</button>
        </form>

        <h3>保存された内容</h3>
        
        
        
        <a href="/">戻る</a>
    </div>

    <script src="{{ url_for('static', filename='sentence_detail/sentence_detail.js') }}"></script>
</body>
</html>
